body {
  background-color: #EBFAFF;
  /* line-height: normal; */
  margin: 0;
}

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6EDED;
  height: 60px;
  padding: 0 20px;
}

.logo {
  height: 40px;
  width: auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

.profile {
  margin-left: auto;
}
.navbar .logo {
  width: 50px;
  height: 50px;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
  max-height: 40px;
  font-weight: bold;
  color: black;
}

/* Note Section */

.note {
  background-color: #F6EDED;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

.note h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.note p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* region_of_voting part 1 */

.region_box {
  background-color: #F6EDED;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.region_box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.region_box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.region_box .button {
  background-color: #1d8c4a;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.region_box .button:hover {
  background-color: #0ba235;
}

.region_box p {
  text-align: center;
  font-weight: bold;
}


/* Region_of_voting Part 2 */

.region_box {
  background-color: #F6EDED;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.region_box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.region_box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.region_box .button {
  background-color: #1d8c4a;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.region_box .button:hover {
  background-color: #0ba235;
}

.region_box p {
  text-align: center;
  font-weight: bold;
}


/* Region_of_voting Part 3 */

.region_box {
  background-color: #F6EDED;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.region_box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.region_box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.region_box .button {
  background-color: #1d8c4a;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.region_box .button:hover {
  background-color: #0ba235;
}

.region_box p {
  text-align: center;
  font-weight: bold;
}


/* Footer Section */

footer {
  background-color: #939393;
  padding: 50px 0;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about {
  flex-basis: 30%;
}

.about h2 {
  margin-bottom: 20px;
}

.help {
  flex-basis: 30%;
}

.help h2 {
  margin-bottom: 20px;
}

.help ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.help ul li {
  margin-bottom: 10px;
}

.help ul li i.fa {
  margin-right: 10px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.help ul li i.fas {
  margin-right: 10px;
  font-size: 14px;
}

.whatsapp:before {
  content: "\f232";
  font-family: "FontAwesome";
}

.facebook:before {
  content: "\f39e";
  font-family: "FontAwesome";
}

.linkedin:before {
  content: "\f08c";
  font-family: "FontAwesome";
}

.youtube:before {
  content: "\f16a";
  font-family: "FontAwesome";
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-media-icons a {
  display: inline-block;
  margin-right: 20px;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.2s ease-in-out;
}

.social-media-icons a:hover {
  color: #007bff;
}


.disclaimer {
  background-color: #9b9090;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.disclaimer span {
  font-weight: bold;
}









