*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg:#EBFAFF;
    --white:white;
    --input_bg:gainsboro;
    --btn:#92E0EB;
    --btn_helper:#1fdad2;
}
body{
    background: var(--bg);
}
html{
    font-size: 62.5%;
}
.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login_container{
    background: var(--white);
    width: 40rem;
    height: 40rem;
    /* border: none; */
    border-radius: 2rem;
    border: 0.2rem black solid
}
.regisation_container{
    background: var(--white);
    width: 40rem;
    height: 47rem;
    /* border: none; */
    border-radius: 2rem;
    border: 0.2rem black solid
}
.login_heading{
    font-size: 4rem;
    display: flex;
    margin: 2rem;
    justify-content: center;
}
.input_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
}
input{
    background: var(--input_bg);
    width: 80%;
    height: 4rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
}
.btn{
    width: 80%;
    height: 4rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    background: var(--btn);
}
.btn:hover{
    background-color: var(--btn_helper);
}
.btn_section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.forget,.sigup{
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
}
.forget a,.sigup a{
    font-size: 1.4rem;
    text-decoration: none;
    color: blue;
}
