body{
    background-color: #D0F1F6;
}
.table-head{
    font-style:Bold;
    font-size: 26;
    color:#666666;
    padding: 10px 100px;
    width: 50 !important;
    margin:30px;
}
.details{
    font-style:Bold;
    font-size: 26;
    color:#666666;
    padding: 10px 10px;
    width: 50 !important;
    margin:30px;

}
#filter
{
    position:top center;
    padding: 10px 300px !important;
}

.table-data{
    align-content: center;
    padding:10px 100px;
    margin:100px;
    font-size: 30;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.table-data1{
    align-content: center;
    padding: 0px 100px;
    margin:100px;
    font-size: 30;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.approv{
    position:center center;
    align-content: center center;
    padding:10px 10px;
    font-size: 30;
    background-color: #92E0EB;
    border-radius: 10px;
    width: 140px;
}
.not-approv{
    position: center center;
    align-content: center center;
    padding:10px 10px;

   /* margin:1000px;*/
    font-size: 30;
    background-color: #98A6F6;
    border-radius: 10px;
}
.page
{
    align-content: center;
    padding:5px 5px;
    margin:10px;
    font-size: 26;
    background-color: #D9D9D9;
    border-radius: 10px;
}
#break
{
    padding:10px 0px;
}
